

@font-face {
	font-family: Baton Turbo;
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.das.tamedia.ch/BatonTurboWeb-Regular.woff) format("woff2"),url(https://fonts.das.tamedia.ch/BatonTurboWeb-Regular.woff2) format("woff")
}

@font-face {
	font-family: Baton Turbo;
	font-style: normal;
	font-weight: 600;
	src: url(https://fonts.das.tamedia.ch/BatonTurboWeb-Medium.woff) format("woff2"),url(https://fonts.das.tamedia.ch/BatonTurboWeb-Medium.woff2) format("woff")
}

@font-face {
	font-family: Baton Turbo hvy ;
	font-style: normal;
	font-weight: 900;
	src: url(https://fonts.das.tamedia.ch/BatonTurboWeb-Heavy.woff) format("woff2"),url(https://fonts.das.tamedia.ch/BatonTurboWeb-Heavy.woff2) format("woff")
}


body{
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.new_fullwidth1_DE_20min {

	padding: 0;
	border: none;
	width: 100%;
	height: 157px;
	overflow: hidden;
	background-color: #FFFFFF;
  	font-family: 'Roboto Condensed', Arial, sans-serif;
}
.new_fullwidth1_DE_20min .ppncaption{
	display: none;
}
.new_fullwidth1_DE_20min .ppninnerbox {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
  	height: 157px;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox {
	position: relative;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox > a{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	border: none;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .bgImage {
	width: 100%;
	height: 157px;
	float: left;
	display: block;
	position: absolute;
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .adImage {
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	position: absolute;
	height: 157px;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	margin: 0;
	padding: 0;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .image {
	margin: 0;
	padding: 0;
	border: none;
	width: 47.46%;
	max-width: 355px;
	overflow: hidden;
	float: left;
	position: relative;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .text_content {
	border: none;
	width: 52.54%;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .text_content .title{
	max-height: 70px;
	color: black;
	margin-top: 24px;
	margin-right: 5px;
	margin-left: 5px;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .text_content .title > a {
	border: none;
	text-align: left;
	text-decoration: none;
	-webkit-word-wrap: break-word;
	-moz-word-wrap: break-word;
	word-wrap: break-word;
	height: 54px;
	width: 206px;
	color: #1A1A1A;
	font-family: "Baton Turbo Hvy";
	font-size: 16px;
	font-weight: 900;
	letter-spacing: -0.36px;
	line-height: 18px;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .text_content .text{
	margin-left: 5px;
	margin-right: 5px;
	max-height: 74px;
}
.new_fullwidth1_DE_20min .ppninnerbox .singlebox .text_content .text > a {

	border: none;
	font-weight: 400;
	text-align: left;
	color: black;
	text-decoration: none;
	-webkit-word-wrap: break-word;
	-moz-word-wrap: break-word;
	word-wrap: break-word;
	width: 198px;
	font-family: "Baton Turbo";
	font-size: 12px;
	letter-spacing: 0.07px;
	line-height: 14px;

}
.new_fullwidth1_DE_20min .tnlogo {
	display: none;
}
.new_fullwidth1_DE_20min .headline {
	height: 20px;
	width: 53%;
	background-color: #4490C5;
	position: absolute;
}
.new_fullwidth1_DE_20min .headline span{
	font-size: 11px;
	margin-left: 5px;
	font-family: "Baton Turbo Hvy";
	color: white;
}


