body,html{
    margin:0;
}

body{
    display: block;
    margin: 0 auto;
    padding: 0;
    max-height: 416px;
    width: 100%;
}


@font-face {
    font-family: Baton Turbo;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.das.tamedia.ch/BatonTurboWeb-Regular.woff) format("woff2"),url(https://fonts.das.tamedia.ch/BatonTurboWeb-Regular.woff2) format("woff")
}

@font-face {
    font-family: Baton Turbo;
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.das.tamedia.ch/BatonTurboWeb-Medium.woff) format("woff2"),url(https://fonts.das.tamedia.ch/BatonTurboWeb-Medium.woff2) format("woff")
}

@font-face {
    font-family: Baton Turbo hvy ;
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.das.tamedia.ch/BatonTurboWeb-Heavy.woff) format("woff2"),url(https://fonts.das.tamedia.ch/BatonTurboWeb-Heavy.woff2) format("woff")
}

.new_Ricchi_20min_FR {
    width: 100%;
    max-height: 416px;
    position: relative;
    cursor: pointer;
    border: none;

    background-color: white;
}

.new_Ricchi_20min_FR .ppninnerbox {
    width: 100%;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 416px;
}

.new_Ricchi_20min_FR .singlebox {
    width: 100%;
    max-height: 430px;
    padding: 0;

    position: relative;
    background: white;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.new_Ricchi_20min_FR .title {
    display: block;
    padding: 5px 10px 3px;
    overflow: hidden;
    border: none;
    text-align: left;
    width: 96%;
    color: #000000;
    font-family: "Baton Turbo", sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: -0.23px;
    line-height: 18px;
    max-height: 34px;
}

.new_Ricchi_20min_FR .title a:link,
.new_Ricchi_20min_FR .title a:visited,
.new_Ricchi_20min_FR .title a:active {
    text-decoration: none;
    color: #222;
}

.new_Ricchi_20min_FR .title a:hover {
    text-decoration: underline;
}

.new_Ricchi_20min_FR .text {

    padding: 3px 10px 16px;
    overflow: hidden;
    text-decoration: none;
    text-align: left;
    width: 96%;
    color: #1A1A1A;
    font-family: "Baton Turbo", sans-serif;
    font-size: 11px;
    letter-spacing: 0.07px;
    line-height: 13px;

}

.new_Ricchi_20min_FR .text a:link, .new_Ricchi_20min_FR .text a:visited, .new_Ricchi_20min_FR .text a:hover, .new_Ricchi_20min_FR .text a:active, .new_Ricchi_20min_FR .text a:hover {
    text-decoration: none;
    color: black;
}

.new_Ricchi_20min_FR .text span.url,
.new_Ricchi_20min_FR .url a,
.new_Ricchi_20min_FR .url a:link,
.new_Ricchi_20min_FR .url a:visited,
.new_Ricchi_20min_FR .url a:hover,
.new_Ricchi_20min_FR .url a:active,
.new_Ricchi_20min_FR .url a:hover {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    background: url('https://d1rkf0bq85yx06.cloudfront.net/images/more.gif') left top no-repeat;
}

.new_Ricchi_20min_FR .singlebox > a {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    max-height: 240px;

}

.new_Ricchi_20min_FR .singlebox .bgImage {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    -webkit-filter: blur(3px);
    filter: blur(2px);
}

.new_Ricchi_20min_FR .adimage {
    position: relative;
    display: inherit;
    padding: 0;
    max-height: 240px;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.new_Ricchi_20min_FR .rectangle-5 {
    height: 19px;
    width: 100%;
    background-color: #4490C5;
    position: relative;
}

.new_Ricchi_20min_FR .ppncaption {
    display: none;
}

.new_Ricchi_20min_FR .tnlogo {
    display: none;
}

.new_Ricchi_20min_FR .rectangle-5 span {
    text-decoration: none;
    color: white;
    font-family: "Baton Turbo Hvy";
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.17px;
    padding-left: 10px;
    position: absolute;
    padding-top: 1px;
}

.GoogleActiveViewElement {
    position: absolute;
}
