
@import url(https://fonts.googleapis.com/css?family=Nunito:300,600);


* {
	margin: 0;
	padding: 0;
}
body,
html {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #333;
	font-family: Nunito, Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
}

a {
	color: #007ab7;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.image-container img{
	z-index: 999;
	position: fixed;
	height: 220px;
	margin-left: -195px;
	left: 50%;
}

.image-container{
	position: relative;
}

.image-blur img{
	width: 100%;
	height: 100%;
	-webkit-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.content{
	background-color: #E6F5FC;
	padding: 12px;
}

.body{

	font-weight: 700;
}

.title{
	font-weight: 700;
}

@media (max-width: 319px) {
	.image-blur{
		width: 100%;
		height: 220px;
	}

}

@media (min-width: 480px) {
	.image-blur{
		width: 100%;
		height: 220px;
	}

}

@media (max-width: 480px) {

	.image-blur{
		width: 100%;
		height: 220px;
	}

}