
.ppn_rectangle1_IT_autoonline {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    border: 2px solid rgb(222, 222, 222);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.ppn_rectangle1_IT_autoonline .ppninnerbox {
}
.ppn_rectangle1_IT_autoonline .singlebox {
    width: 280px;
    height: 240px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}
.ppn_rectangle1_IT_autoonline .title {
    cursor: pointer;
    position: relative;
    color: rgb(242, 148, 0);
    font: bold 16px/19px Arial, sans-serif;
    text-align: left;
}
.ppn_rectangle1_IT_autoonline .title a:link, .ppn_rectangle1_IT_autoonline .title a:visited, .ppn_rectangle1_IT_autoonline .title a:active {
    color : rgb(242, 148, 0);
    text-decoration: none;
}
.ppn_rectangle1_IT_autoonline .title a:hover {
    color: rgb(242, 148, 0);
    text-decoration: underline;
}
.ppn_rectangle1_IT_autoonline .text {
    cursor: pointer;
    overflow: hidden;
    color: rgb(51, 51, 51);
    font: normal 13px/15px Arial, sans-serif;
    text-align: left;
    padding-top: 4px;
}
.ppn_rectangle1_IT_autoonline .text a:link, .ppn_rectangle1_IT_autoonline .text a:visited, .ppn_rectangle1_IT_autoonline .text a:hover, .ppn_rectangle1_IT_autoonline .text a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_rectangle1_IT_autoonline .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_rectangle1_IT_autoonline .url {
    cursor: pointer;
    color: rgb(242, 148, 0);
    font: normal 13px/15px Arial, sans-serif;
    text-align: left;
}
.ppn_rectangle1_IT_autoonline .url a, .ppn_rectangle1_IT_autoonline .url a:link, .ppn_rectangle1_IT_autoonline .url a:visited, .ppn_rectangle1_IT_autoonline .url a:hover, .ppn_rectangle1_IT_autoonline .url a:active {
    color : rgb(242, 148, 0);
    text-decoration: none;
}
.ppn_rectangle1_IT_autoonline .url a:hover {
    color: rgb(242, 148, 0);
    text-decoration: underline;
}
.ppn_rectangle1_IT_autoonline .adimage {
    border-width: 0;
    float: left;
}
.ppn_rectangle1_IT_autoonline img.adimage {
    width: 280px;
    height: 157px;
    margin-bottom: 7px;
}
.ppn_rectangle1_IT_autoonline .ppncaption {
    display: none;
}
.ppn_rectangle1_IT_autoonline .tnlogo{
    border-top: 2px solid rgb(222, 222, 222);
    border-left: 2px solid rgb(222, 222, 222);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    padding: 2px;
    position: absolute; bottom:0; right:0; max-width:100px; height:15px;
}
.ppn_rectangle1_IT_autoonline .tnlogo > a{
    font: bold 9px/9px Arial, sans-serif;
    text-align: right;
    text-decoration: none;
    color: rgb(222, 222, 222);
}