@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

.ppn_sb_leaderboard3_DE_immostreet {
    width: 728px;
    height: 90px;
    background: white;
    overflow: hidden;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.ppn_sb_leaderboard3_DE_immostreet .ppninnerbox {
    width: 726px;
    height: 90px;
    background: rgb(241, 241, 241);
}
.ppn_sb_leaderboard3_DE_immostreet .singlebox {
    width: 242px;
    height: 90px;
    position: relative;
    float: left;
    overflow: hidden;
}
.ppn_sb_leaderboard3_DE_immostreet .title {
    cursor: pointer;
    width: 232px;
    height: 20px;
    font: 700 11px/13px 'Open Sans', sans-serif;
    text-align: left;
    color : rgb(228, 62, 51);
    text-transform: uppercase;
    background: white;
    padding-top: 5px;
    padding-left: 10px;
}
.ppn_sb_leaderboard3_DE_immostreet .title a:link, .ppn_sb_leaderboard3_DE_immostreet .title a:visited, .ppn_sb_leaderboard3_DE_immostreet .title a:active {
    color : rgb(228, 62, 51);
    text-decoration: none;
}
.ppn_sb_leaderboard3_DE_immostreet .title a:hover {
    color : rgb(228, 62, 51);
    text-decoration: underline;
}
.ppn_sb_leaderboard3_DE_immostreet .text {
    cursor: pointer;
    width: 118px;
    overflow: hidden;
    background: rgb(241, 241, 241);
    font: 400 10px/13px 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 5px;
    margin-left: 120px;
}
.ppn_sb_leaderboard3_DE_immostreet .text a:link, .ppn_sb_leaderboard3_DE_immostreet .text a:visited, .ppn_sb_leaderboard3_DE_immostreet .text a:hover, .ppn_sb_leaderboard3_DE_immostreet .text a:active {
    color : rgb(42, 42, 42);
    text-decoration: none;
}
.ppn_sb_leaderboard3_DE_immostreet .text a:hover {
    color : rgb(42, 42, 42);
    text-decoration: none;
}
.ppn_sb_leaderboard3_DE_immostreet .url {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    top: 0px;
    background: url("http://media.das.tamedia.ch/images/ppnimmostreet-arrow.gif")left center no-repeat;
}
.ppn_sb_leaderboard3_DE_immostreet .url a, .ppn_sb_leaderboard3_DE_immostreet .url a:link, .ppn_sb_leaderboard3_DE_immostreet .url a:visited, .ppn_sb_leaderboard3_DE_immostreet .url a:hover, .ppn_sb_leaderboard3_DE_immostreet .url a:active {

}
.ppn_sb_leaderboard3_DE_immostreet .url a:hover {
}
.ppn_sb_leaderboard3_DE_immostreet .adimage {
    border-width: 0;
    float: left;
}
.ppn_sb_leaderboard3_DE_immostreet img.adimage {
    width: 115px;
    height: 65px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.ppn_sb_leaderboard3_DE_immostreet .ppncaption {
    display: none;
}
.ppn_sb_leaderboard3_DE_immostreet .tnlogo > a{
	border: none;
	border-top: 1px solid white;
	border-left: 1px solid white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	right: 2px;
	top: 0;
	background: rgb(241, 241, 241);
	padding: 1px 3px 2px 3px;
	font: 700 9px/9px 'Open Sans', sans-serif;
	text-align: center;
	color: rgb(42, 42, 42);
	text-decoration: none;
}
.ppn_sb_leaderboard3_DE_immostreet .tnlogo{
    position: absolute; bottom:0; right:0; max-width:100px; height:13px;
}