
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);




.ppn_mobilehalfpage4_IT_tio {
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
    background: #F5F5F5;
    text-align: left;
}
.ppn_mobilehalfpage4_IT_tio .ppninnerbox {
}
.ppn_mobilehalfpage4_IT_tio .singlebox {
    width: 300px;
    height: 150px;
    position: relative;
    float: left;
    border-bottom: 1px solid #999999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_mobilehalfpage4_IT_tio .title {
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    padding: 20px 10px;
    width: 280px;
    text-align: left;
}
.ppn_mobilehalfpage4_IT_tio .title a:link, .ppn_mobilehalfpage4_IT_tio .title a:visited, .ppn_mobilehalfpage4_IT_tio .title a:active {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_mobilehalfpage4_IT_tio .title a:hover {
    text-decoration: underline;
}
.ppn_mobilehalfpage4_IT_tio .text {
    cursor: pointer;
    height: 80px;
    width: 130px;
    overflow: hidden;
    margin-left: 158px;
    font-family: Georgia, serif;
    text-decoration: none;
}
.ppn_mobilehalfpage4_IT_tio .text a:link, .ppn_mobilehalfpage4_IT_tio .text a:visited, .ppn_mobilehalfpage4_IT_tio .text a:hover, .ppn_mobilehalfpage4_IT_tio .text a:active {
    color: #4d4d4d;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    text-decoration: none;
}
.ppn_mobilehalfpage4_IT_tio .text a:hover {
    text-decoration: underline;
}
.ppn_mobilehalfpage4_IT_tio .url {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
    background: url('http://media.das.tamedia.ch/images/more.gif') left top no-repeat;
}
.ppn_mobilehalfpage4_IT_tio .url a, .ppn_mobilehalfpage4_IT_tio .url a:link, .ppn_mobilehalfpage4_IT_tio .url a:visited, .ppn_mobilehalfpage4_IT_tio .url a:hover, .ppn_mobilehalfpage4_IT_tio .url a:active {
    padding-left: 20px;
    color:#f5f5f5;
}
.ppn_mobilehalfpage4_IT_tio .url a:hover {
    text-decoration: none;
}
.ppn_mobilehalfpage4_IT_tio .adimage {
    border-width: 0;
    position: absolute;
    left:0;
    bottom:0;
    margin: 13px 15px 0 0;
}
.ppn_mobilehalfpage4_IT_tio img.adimage {
    width: 148px;
    height: 83px;
}
.ppn_mobilehalfpage4_IT_tio .ppncaption {
    display: none;
}
.ppn_mobilehalfpage4_IT_tio .tnlogo{
    background: url('http://media.das.tamedia.ch/images/top_bar.gif') top repeat-x;
    position: absolute; top:0; left:0; width:100%;height: 10px;
}
.ppn_mobilehalfpage4_IT_tio .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: #333333;
    padding: 3px 5px 3px 5px;
    font: 9px/9px 'Bree Serif', serif;
    text-align: center;
    color: white;
    text-decoration: none;
}