body{
    margin:0;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.ppn_sb_mobilerectangle2_FR_tdg {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid rgb(51,51,51);
    border-bottom: 1px solid rgb(51,51,51);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.ppn_sb_mobilerectangle2_FR_tdg .singlebox {
    width: 300px;
    height: 125px;
    position: relative;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid rgb(51,51,51);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_mobilerectangle2_FR_tdg .singlebox:last-child{
    border: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .title {
    cursor: pointer;
    height: 25px;
    margin-top: 7px;
    color: rgb(48, 126, 195);
    font: 700 17px/20px 'Open Sans', sans-serif;
    text-align: left;
}
.ppn_sb_mobilerectangle2_FR_tdg .title a:link, .ppn_sb_mobilerectangle2_FR_tdg .title a:visited, .ppn_sb_mobilerectangle2_FR_tdg .title a:active {
    color: rgb(48, 126, 195);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .title a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .text {
    cursor: pointer;
    overflow: hidden;
    width: 135px;
    margin-left: 160px;
    padding-bottom: 1px;
    color: rgb(51, 51, 51);
    font: 400 12px/14px 'Open Sans', sans-serif;
    text-align: left;
}
.ppn_sb_mobilerectangle2_FR_tdg .text a:link, .ppn_sb_mobilerectangle2_FR_tdg .text a:visited, .ppn_sb_mobilerectangle2_FR_tdg .text a:hover, .ppn_sb_mobilerectangle2_FR_tdg .text a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .url {
    cursor: pointer;
    display: inline;
    color: rgb(48, 126, 195);
    font: 400 12px/14px 'Open Sans', sans-serif;
    text-align: left;
}
.ppn_sb_mobilerectangle2_FR_tdg .url a, .ppn_sb_mobilerectangle2_FR_tdg .url a:link, .ppn_sb_mobilerectangle2_FR_tdg .url a:visited, .ppn_sb_mobilerectangle2_FR_tdg .url a:hover, .ppn_sb_mobilerectangle2_FR_tdg .url a:active {
    color: rgb(48, 126, 195);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .url a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .adimage {
    border-width: 0;
    position:absolute;
    bottom: 10px;
}
.ppn_sb_mobilerectangle2_FR_tdg img.adimage {
    width: 149px;
    height: 81px;
}
.ppn_sb_mobilerectangle2_FR_tdg .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle2_FR_tdg .tnlogo {
    position: absolute; bottom:0; right:0; width:100%; height:13px;
}
.ppn_sb_mobilerectangle2_FR_tdg .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    padding: 2px 3px;
    font: normal 10px/10px Arial, sans-serif;
    color: white;
    text-decoration: none;
}