@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.ppn_sb_billboard3_DE_landbote {
  width: 640px;
  height: 350px;
  overflow: hidden;
  background: white;
  color: black;
  text-align: left;
  position: relative;
  cursor: pointer;
  border: none;
}
.ppn_sb_billboard3_DE_landbote .ppninnerbox {
  width: 640px;
  height: 349px;
  border: none;
  overflow: hidden;
	border-bottom: 1px solid #0073b7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.ppn_sb_billboard3_DE_landbote .singlebox {
  width: 640px;
  height: 116px;
  overflow: hidden;
  position: relative;
  float: left;
  border-top: 1px solid #0073b7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ppn_sb_billboard3_DE_landbote .title {
	position: absolute;
  top: 10px;
  left: 215px;
  border: 0;
  width: calc(100% - 215px);
  height: 30px;
  max-height: 30px;
  overflow: hidden;
	background: white;
	padding: 0px;
	font: 700 20px/28px 'Merriweather', serif;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  color: #0073b7;
	border-bottom: 1px solid #0073b7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	padding: 0 10px 0 0;
}
.ppn_sb_billboard3_DE_landbote .title > a,
.ppn_sb_billboard3_DE_landbote .title > a:link,
.ppn_sb_billboard3_DE_landbote .title > a:visited,
.ppn_sb_billboard3_DE_landbote .title > a:active{
  text-decoration: none;
  color: #0073b7;
	padding: 0;
}
.ppn_sb_billboard3_DE_landbote .title > a:hover{
  text-decoration: none;
	color: black;
	padding: 0;
}
.ppn_sb_billboard3_DE_landbote .text {
  position: absolute;
	bottom: 5px;
  left: 215px;
  border: 0;
  width: calc(100% - 225px);
  height: 60px;
  max-height: 60px;
  overflow: hidden;
	background: white;
	padding: 0px;
  font: 400 14px/20px 'Merriweather', serif;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  color: black;
}
.ppn_sb_billboard3_DE_landbote .text > a,
.ppn_sb_billboard3_DE_landbote .text > a:link,
.ppn_sb_billboard3_DE_landbote .text > a:visited,
.ppn_sb_billboard3_DE_landbote .text > a:hover,
.ppn_sb_billboard3_DE_landbote .text > a:active,
.ppn_sb_billboard3_DE_landbote .text > a:hover  {
	text-decoration: none;
  color: black;
  padding: 0;
}
.ppn_sb_billboard3_DE_landbote .url > a,
.ppn_sb_billboard3_DE_landbote .url > a:link,
.ppn_sb_billboard3_DE_landbote .url > a:visited,
.ppn_sb_billboard3_DE_landbote .url > a:hover,
.ppn_sb_billboard3_DE_landbote .url > a:active,
.ppn_sb_billboard3_DE_landbote .url > a:hover {
	font: 700 14px/20px 'Merriweather', serif;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  color: #0073b7;
  display: inline-block;
  padding: 0;
}
.ppn_sb_billboard3_DE_landbote .url > a:hover{
  color: black;
}
.ppn_sb_billboard3_DE_landbote .adimage {
  position: absolute;
  top: 0px;
  left: 0px;
  border-width: 0;
  width: 204px;
  height: 115px;
}
.ppn_sb_billboard3_DE_landbote .ppncaption {
  display: none;
}
.ppn_sb_billboard3_DE_landbote .tnlogo > a{
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	background: #0073b7;
	padding: 3px 4px;
	font: 700 10px/10px 'Merriweather', serif;
	text-align: center;
	color: white;
	text-decoration: none;
}
.ppn_sb_billboard3_DE_landbote .tnlogo{
    position: absolute; bottom:2px; right:0; max-width:100px; height:15px;
}