
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
.ppn_sb_billboard4_DE_tagesanzeiger {
    width: 640px;
    height: 350px;
    overflow: hidden;
    background: white;
    position: relative;
    border-bottom: 1px solid #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_billboard4_DE_tagesanzeiger .singlebox {
    width: 300px;
    height: 160px;
    position: relative;
    float: left;
    padding: 10px;
}
.ppn_sb_billboard4_DE_tagesanzeiger .title {
    position: absolute;
    top:0;
    left: 10px;
    cursor: pointer;
    font-weight: bold;
    color : rgb(0, 122, 191);
    font-family: 'Roboto Condensed', sans-serif;
    width: 640px;
    padding: 15px 0;
}
.ppn_sb_billboard4_DE_tagesanzeiger .title a:link, .ppn_sb_billboard4_DE_tagesanzeiger .title a:visited, .ppn_sb_billboard4_DE_tagesanzeiger .title a:active {
    color : rgb(0, 122, 191);
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_sb_billboard4_DE_tagesanzeiger .title a:hover {
    text-decoration: underline;
}
.ppn_sb_billboard4_DE_tagesanzeiger .text {
    height: 80px;
    overflow: hidden;
    text-decoration: none;
    width: 134px;
    font-family: Georgia, serif;
    line-height: 14px;
    padding-top: 45px;
}
.ppn_sb_billboard4_DE_tagesanzeiger .text a:link, .ppn_sb_billboard4_DE_tagesanzeiger .text a:visited, .ppn_sb_billboard4_DE_tagesanzeiger .text a:hover, .ppn_sb_billboard4_DE_tagesanzeiger .text a:active {
    color: rgb(51, 51, 51);
    font-size: 13px;
    text-decoration: none;
}
.ppn_sb_billboard4_DE_tagesanzeiger .text a:hover {
    text-decoration: underline;
}
.ppn_sb_billboard4_DE_tagesanzeiger .text span.url {
    display: inline-block;
}
.ppn_sb_billboard4_DE_tagesanzeiger .url a, .ppn_sb_billboard4_DE_tagesanzeiger .url a:link, .ppn_sb_billboard4_DE_tagesanzeiger .url a:visited, .ppn_sb_billboard4_DE_tagesanzeiger .url a:hover, .ppn_sb_billboard4_DE_tagesanzeiger .url a:active {
    color : rgb(0, 122, 191);
}
.ppn_sb_billboard4_DE_tagesanzeiger .text span.url a:hover {
    text-decoration: none;
}
.ppn_sb_billboard4_DE_tagesanzeiger .adimage {
    border-width: 0;
    float: left;
}
.ppn_sb_billboard4_DE_tagesanzeiger img.adimage {
    width: 160px;
    height: 88px;
    padding-right: 6px;
    padding-top: 45px;
}
.ppn_sb_billboard4_DE_tagesanzeiger .ppncaption {
    display: none;
}
.ppn_sb_billboard4_DE_tagesanzeiger .tnlogo{
    position: absolute; bottom:0; right:0; max-width:100px; height:15px;
}
.ppn_sb_billboard4_DE_tagesanzeiger .tnlogo > a{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: #333;
    padding: 3px 4px;
    font: normal 10px/10px Georgia, serif;
    text-align: center;
    color: white;
    text-decoration: none;
}