
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
.ppn_rectangle1_FR_lematin {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgb(51,51,51);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_rectangle1_FR_lematin .ppninnerbox {
}
.ppn_rectangle1_FR_lematin .singlebox {
    width: 100%;
    height: 100%;
    position: relative;
}
.ppn_rectangle1_FR_lematin .title {
    cursor: pointer;
    color : rgb(51, 51, 51);
    font: 800 18px/21px 'Open Sans', sans-serif;
    text-align: left;
}
.ppn_rectangle1_FR_lematin .title a:link, .ppn_rectangle1_FR_lematin .title a:visited, .ppn_rectangle1_FR_lematin .title a:active {
    color : rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_rectangle1_FR_lematin .title a:hover {
    color : rgb(230, 90, 49);
    text-decoration: none;
}
.ppn_rectangle1_FR_lematin .text {
    cursor: pointer;
    padding-top: 4px;
    font: 400 13px/15px 'Open Sans', sans-serif;
    text-align: left;
    max-height: 31px;
    overflow: hidden;
}
.ppn_rectangle1_FR_lematin .text a:link, .ppn_rectangle1_FR_lematin .text a:visited, .ppn_rectangle1_FR_lematin .text a:hover, .ppn_rectangle1_FR_lematin .text a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_rectangle1_FR_lematin .text a:hover {
    color : rgb(230, 90, 49);
    text-decoration: none;
}
.ppn_rectangle1_FR_lematin .url {
    cursor: pointer;
    margin-top: 3px;
    background: url("http://media.das.tamedia.ch/images/ppnlematin-mehr.gif")left center no-repeat;
    background-position: left center;
    background-size: 10px;
    font: 700 13px/15px 'Open Sans', sans-serif;
    text-align: left;
    text-transform: uppercase;
    padding-left: 15px;
}
.ppn_rectangle1_FR_lematin .url a, .ppn_rectangle1_FR_lematin .url a:link, .ppn_rectangle1_FR_lematin .url a:visited, .ppn_rectangle1_FR_lematin .url a:hover, .ppn_rectangle1_FR_lematin .url a:active {
    color : rgb(230, 90, 49);
    text-decoration: none;
}
.ppn_rectangle1_FR_lematin .url a:hover {
    text-decoration: none;
}
.ppn_rectangle1_FR_lematin .adimage {
    border-width: 0;
    float: left;
}
.ppn_rectangle1_FR_lematin img.adimage {
    width: 300px;
    height: 165px;
    margin-bottom:5px;
}
.ppn_rectangle1_FR_lematin .ppncaption {
    display: none;
}
.ppn_rectangle1_FR_lematin .tnlogo {
    position: absolute; bottom:5px; right:0; max-width:100px; height:15px;
}
.ppn_rectangle1_FR_lematin .tnlogo > a{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(230, 90, 49);
    padding: 3px 4px;
    font: 700 9px/9px 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
}