@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
html, body {
margin: 0;
padding: 0;
background-color:#d8d8d8;
}
.surroundingbox {
overflow: hidden;
background-color:#d8d8d8;
position: relative;
}
.innerbox {
}
.singlebox {
width: 100%;
height: 100%;
position: relative;
}
.title {
float:left;
width:100%;
cursor: pointer;
font-size: 14px;
line-height: 15px;
font-weight: bold;
color : rgb(0, 122, 191);
font-family: 'Roboto Condensed', sans-serif;
padding-left: 0px;
padding-top:5px;
}
.title a:link, .title a:visited, .title a:active {
color : black;
font-weight: bold;
text-decoration: none;
}
.title a:hover {
text-decoration: underline;
}
.text {
display:none;
}
.adimage {
border-width: 0;
}
img.adimage {
width: 100%;
}
.caption {
z-index: 20;
position: absolute;
top: 0;
left: 0;
font-size: 10px;
background-image: url("http://media.das.tamedia.ch/images/20min_werbung.gif");
width: 50px;
height:8px;
}
.trackingpixel{
display:none;
}