
.ppn_sb_mobilerectangle1_DE_bernerzeitung {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    cursor: pointer;
    font-family: Georgia, serif;
    border: 1px solid #f1f2f2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .ppninnerbox {
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .singlebox {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float: left;
    border: none;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .title {
    margin: 178px 10px 5px 10px;
    max-height: 22px;
    overflow: hidden;
    font: bold 18px/22px Georgia, serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .title a:link, .ppn_sb_mobilerectangle1_DE_bernerzeitung .title a:visited, .ppn_sb_mobilerectangle1_DE_bernerzeitung .title a:active, .ppn_sb_mobilerectangle1_DE_bernerzeitung .title a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .text {
    margin: 0 10px;
    max-height: 32px;
    overflow: hidden;
    font: normal 12px/16px Georgia, serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .text a:link, .ppn_sb_mobilerectangle1_DE_bernerzeitung .text a:visited, .ppn_sb_mobilerectangle1_DE_bernerzeitung .text a:hover, .ppn_sb_mobilerectangle1_DE_bernerzeitung .text a:active, .ppn_sb_mobilerectangle1_DE_bernerzeitung .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .adimage {
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 168px;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .tnlogo {
    position: absolute; bottom:0; left:0; width:100%;height: 10px;
}
.ppn_sb_mobilerectangle1_DE_bernerzeitung .tnlogo > a{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 3px 5px;
    font: bold 10px/10px Arial, sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}