
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700);
.ppn_sb_mobilerectangle1_IT_tio {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    border: 1px solid #f1f2f2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ppn_sb_mobilerectangle1_IT_tio .ppninnerbox {
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.ppn_sb_mobilerectangle1_IT_tio .singlebox {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float: left;
    border: none;
}
.ppn_sb_mobilerectangle1_IT_tio .title {
    margin: 177px 10px 4px 10px;
    max-height: 22px;
    overflow: hidden;
    font: bold 17px/22px Verdana, sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_IT_tio .title a:link, .ppn_sb_mobilerectangle1_IT_tio .title a:visited, .ppn_sb_mobilerectangle1_IT_tio .title a:active, .ppn_sb_mobilerectangle1_IT_tio .title a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_IT_tio .text {
    margin: 0 10px;
    max-height: 32px;
    overflow: hidden;
    font: normal 12px/16px Verdana, sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_IT_tio .text a:link, .ppn_sb_mobilerectangle1_IT_tio .text a:visited, .ppn_sb_mobilerectangle1_IT_tio .text a:hover, .ppn_sb_mobilerectangle1_IT_tio .text a:active, .ppn_sb_mobilerectangle1_IT_tio .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_IT_tio .adimage {
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 168px;
}
.ppn_sb_mobilerectangle1_IT_tio .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle1_IT_tio .tnlogo {
    position: absolute; bottom:0; left:0; width:100%;height: 10px;
}
.ppn_sb_mobilerectangle1_IT_tio .tnlogo > a{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 2px 4px;
    font: bold 9px/9px Verdana, sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}