
.ppn_sb_mobilerectangle2_DE_bernerzeitung {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: rgb(239, 239, 239);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .ppninnerbox {
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .singlebox {
    width: 300px;
    height: 125px;
    position: relative;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .title {
    cursor: pointer;
    color : rgb(51, 51, 51);
    font: bold 17px/20px Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 15px;
    padding-left: 5px;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .title a:link, .ppn_sb_mobilerectangle2_DE_bernerzeitung .title a:visited, .ppn_sb_mobilerectangle2_DE_bernerzeitung .title a:active {
    color : rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .title a:hover {
    color : rgb(204, 0, 0);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .text {
    cursor: pointer;
    width: 140px;
    overflow: hidden;
    font: normal 11px/13px Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 10px;
    padding-left: 155px;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .text a:link, .ppn_sb_mobilerectangle2_DE_bernerzeitung .text a:visited, .ppn_sb_mobilerectangle2_DE_bernerzeitung .text a:hover, .ppn_sb_mobilerectangle2_DE_bernerzeitung .text a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .text a:hover {
    color : rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .url {
    cursor: pointer;
    display: inline-block;
    padding-left: 155px;
    padding-top: 5px;
    font: bold 11px/13px Arial, Helvetica, sans-serif;
    text-align: left;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .url a, .ppn_sb_mobilerectangle2_DE_bernerzeitung .url a:link, .ppn_sb_mobilerectangle2_DE_bernerzeitung .url a:visited, .ppn_sb_mobilerectangle2_DE_bernerzeitung .url a:hover, .ppn_sb_mobilerectangle2_DE_bernerzeitung .url a:active {
    color : rgb(204, 0, 0);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .url a:hover {
    color : rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .adimage {
    border-width: 0;
    position:absolute;
    bottom: 0px;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung img.adimage {
    width: 140px;
    height: 79px;
    margin: 20px 5px 5px 5px;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .tnlogo{
    position: absolute; top:0; left:0; width:100%; height:10px;
}
.ppn_sb_mobilerectangle2_DE_bernerzeitung .tnlogo > a{
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 3px;
    font: bold 9px/9px Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}