
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,400);
.ppn_sb_mobilerectangle1_FR_lematin {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #f1f2f2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ppn_sb_mobilerectangle1_FR_lematin .ppninnerbox {
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.ppn_sb_mobilerectangle1_FR_lematin .singlebox {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float: left;
    border: none;
}
.ppn_sb_mobilerectangle1_FR_lematin .title {
    margin: 178px 10px 5px 10px;
    max-height: 22px;
    overflow: hidden;
    font: 800 18px/22px 'Open Sans', sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_FR_lematin .title a:link, .ppn_sb_mobilerectangle1_FR_lematin .title a:visited, .ppn_sb_mobilerectangle1_FR_lematin .title a:active, .ppn_sb_mobilerectangle1_FR_lematin .title a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_lematin .text {
    margin: 0 10px;
    max-height: 32px;
    overflow: hidden;
    font: 400 12px/16px 'Open Sans', sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_FR_lematin .text a:link, .ppn_sb_mobilerectangle1_FR_lematin .text a:visited, .ppn_sb_mobilerectangle1_FR_lematin .text a:hover, .ppn_sb_mobilerectangle1_FR_lematin .text a:active, .ppn_sb_mobilerectangle1_FR_lematin .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_lematin .adimage {
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 168px;
}
.ppn_sb_mobilerectangle1_FR_lematin .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle1_FR_lematin .tnlogo {
    position: absolute; bottom:0; left:0; width:100%;height: 10px;
}
.ppn_sb_mobilerectangle1_FR_lematin .tnlogo > a{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 3px 5px;
    font: 800 10px/10px 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}