
.ppn_sb_mobilerectangle3_DE_derbund {
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.ppn_sb_mobilerectangle3_DE_derbund .ppninnerbox {
    height: 580px;
    width: 300px;
    margin: 10px 0;
    background: white;
    font-family: Georgia, serif;
}
.ppn_sb_mobilerectangle3_DE_derbund .singlebox {
    width: 300px;
    height: 193px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_mobilerectangle3_DE_derbund .singlebox:first-child {
    border-top: 2px solid #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_mobilerectangle3_DE_derbund .title {
    position: relative;
    width: 280px;
    max-height: 22px;
    overflow: hidden;
    margin: 0px 10px;
    color: #0085ab;
    font: bold 17px/20px Georgia, sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .title a:link, .ppn_sb_mobilerectangle3_DE_derbund .title a:visited, .ppn_sb_mobilerectangle3_DE_derbund .title a:active, .ppn_sb_mobilerectangle3_DE_derbund .title a:hover {
    color: #0085ab;
    text-decoration: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .title a:hover {
    color: #333;
    text-decoration: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .text {
    position: relative;
    width: 280px;
    max-height: 38px;
    overflow: hidden;
    margin: 5px 10px 10px 10px;
    font: normal 13px/18px Georgia, serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .text a:link, .ppn_sb_mobilerectangle3_DE_derbund .text a:visited, .ppn_sb_mobilerectangle3_DE_derbund .text a:hover, .ppn_sb_mobilerectangle3_DE_derbund .text a:active {
    color: #333;
    text-decoration: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .text a:hover {
    color: #333;
    text-decoration: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .url {
    display: inline-block;
    font: normal 13px/18px Georgia, serif;
    text-align: left;
}
.ppn_sb_mobilerectangle3_DE_derbund .url a, .ppn_sb_mobilerectangle3_DE_derbund .url a:link, .ppn_sb_mobilerectangle3_DE_derbund .url a:visited, .ppn_sb_mobilerectangle3_DE_derbund .url a:hover, .ppn_sb_mobilerectangle3_DE_derbund .url a:active {
    color: #0085ab;
    text-decoration: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .url a:hover {
    color: #333;
    text-decoration: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .adimage {
    position: relative;
    float: left;
    border-width: 0;
    width: 180px;
    height: 101px;
    margin: 12px 10px 10px 10px;
}
.ppn_sb_mobilerectangle3_DE_derbund .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle3_DE_derbund .tnlogo {
    position: absolute; top:10px; left:0; width:100%;height: 10px;
}
.ppn_sb_mobilerectangle3_DE_derbund .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(51,51,51);
    padding: 3px 5px;
    font: normal 10px/10px Georgia, serif;
    text-align: center;
    color: white;
    text-decoration: none;
}