@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
html, body {
margin: 0;
padding: 0;
background-color: #fef4e9;
-webkit-font-smoothing: antialiased;
color: rgb(51, 51, 51);
}
.surroundingbox {
width: 245px;
height: 230px;
overflow: hidden;
position: relative;
}
.innerbox {
}
.singlebox {
width: 100%;
height: 100%;
position: relative;
}
.title {
float:left;
width:220px;
cursor: pointer;
line-height: 20px;
font-weight: normal;
font-family: 'Publico Headline';
font-size: 16px;
margin-left: 10px;
margin-right: 10px;
}
.title a:link, .title a:visited, .title a:active {
color: rgb(51, 51, 51);
font-weight: normal;
text-decoration: none;
}
.title a:hover {
text-decoration: none;
color: #007abf;
}
.text {
font-family: Georgia;
font-size: 15px;
font-style: normal;
font-weight: normal;
height: auto;
line-height: 20px;
margin-left: 10px;
margin-right: 10px;
}
.text a, .text a:link, .text a:visited, .text a:active, .text a:hover {
text-decoration: none;
color: rgb(51, 51, 51);
}
.adimage {
border-width: 0;
}
img.adimage {
width: 225px;
margin: 10px;
}
.caption {
z-index: 20;
position: fixed;
top: 10px;
right: 10px;
font-size: 10px;
background-image: url("http://media.das.tamedia.ch/images/nn_publicite.gif");
width: 62px;
height: 12px;
}
.trackingpixel{
display:none;
}