@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.ppn_sb_monsterboard4_DE_20min {
    height: 470px;
    overflow: hidden;
    width: 468px;
    background: #F5F5F5;
    padding-top: 4px;
    position: relative;
}
.ppn_sb_monsterboard4_DE_20min .singlebox {
    border-bottom: 1px solid #999999;
    height: 116px;
    width: 466px;
    position: relative;
}
.ppn_sb_monsterboard4_DE_20min .title {
    cursor: pointer;
    padding: 22px 0 0;
}
.ppn_sb_monsterboard4_DE_20min .title a:link, .ppn_sb_monsterboard4_DE_20min .title a:visited, .ppn_sb_monsterboard4_DE_20min .title a:active {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_sb_monsterboard4_DE_20min .title a:hover {
    text-decoration: underline;
}
.ppn_sb_monsterboard4_DE_20min .text {
    height: 40px;
    overflow: hidden;
    padding: 15px 0 0;
    text-decoration: none;
    width: 280px;
}
.ppn_sb_monsterboard4_DE_20min .text a:link, .ppn_sb_monsterboard4_DE_20min .text a:visited, .ppn_sb_monsterboard4_DE_20min .text a:hover, .ppn_sb_monsterboard4_DE_20min .text a:active {
    color: #4d4d4d;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}
.ppn_sb_monsterboard4_DE_20min .text a:hover {
    text-decoration: underline;
}
.ppn_sb_monsterboard4_DE_20min .url {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
    background: url('http://media.das.tamedia.ch/images/more.gif') left top no-repeat;
}
.ppn_sb_monsterboard4_DE_20min .url a, .ppn_sb_monsterboard4_DE_20min .url a:link, .ppn_sb_monsterboard4_DE_20min .url a:visited, .ppn_sb_monsterboard4_DE_20min .url a:hover, .ppn_sb_monsterboard4_DE_20min .url a:active {
    padding-left: 20px;
    color:#f5f5f5;
}
.ppn_sb_monsterboard4_DE_20min .url a:hover {
    text-decoration: none;
}
.ppn_sb_monsterboard4_DE_20min .adimage {
    border-width: 0;
    float: left;
    padding-right: 18px;
}
.ppn_sb_monsterboard4_DE_20min img.adimage {
    width: 160px;
    height: 90px;
    padding: 13px 15px 13px 0;
}
.ppn_sb_monsterboard4_DE_20min .ppncaption {
    display: none;
}
.ppn_sb_monsterboard4_DE_20min .tnlogo{
    background: url('http://media.das.tamedia.ch/images/top_bar.gif') top repeat-x;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 10px;
}
.ppn_sb_monsterboard4_DE_20min .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: #333333;
    padding: 3px 4px;
    font-size: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}