
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
html, body {
    margin: 0;
    padding: 0;
}
.ppn_sb_monsterboard3_IT_tio {
    height: 270px;
    overflow: hidden;
    width: 468px;
    background: #F5F5F5;
    padding-top: 4px;
    position: relative;
}
.ppn_sb_monsterboard3_IT_tio .singlebox {
    border-bottom: 1px solid #999999;
    height: 89px;
    width: 466px;
    position: relative;
}
.ppn_sb_monsterboard3_IT_tio .title {
    cursor: pointer;
    padding: 10px 0 0;
    font-family: 'Bree Serif', serif;
    max-height: 30px;
    overflow: hidden;
}
.ppn_sb_monsterboard3_IT_tio .title a:link, .ppn_sb_monsterboard3_IT_tio .title a:visited, .ppn_sb_monsterboard3_IT_tio .title a:active {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_sb_monsterboard3_IT_tio .title a:hover {
    text-decoration: underline;
}
.ppn_sb_monsterboard3_IT_tio .text {
    font-family: Georgia, serif;
    height: 40px;
    overflow: hidden;
    padding-top: 5px;
    text-decoration: none;
    width: 280px;
    max-height: 32px;
    overflow: hidden;
    line-height: 0px;
}
.ppn_sb_monsterboard3_IT_tio .text a:link, .ppn_sb_monsterboard3_IT_tio .text a:visited, .ppn_sb_monsterboard3_IT_tio .text a:hover, .ppn_sb_monsterboard3_IT_tio .text a:active {
    color: #4d4d4d;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}
.ppn_sb_monsterboard3_IT_tio .text a:hover {
    text-decoration: underline;
}
.ppn_sb_monsterboard3_IT_tio .url {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
    background: url('http://media.das.tamedia.ch/images/more.gif') left top no-repeat;
}
.ppn_sb_monsterboard3_IT_tio .url a, .ppn_sb_monsterboard3_IT_tio .url a:link, .ppn_sb_monsterboard3_IT_tio .url a:visited, .ppn_sb_monsterboard3_IT_tio .url a:hover, .ppn_sb_monsterboard3_IT_tio .url a:active {
    padding-left: 20px;
    color:#f5f5f5;
}
.ppn_sb_monsterboard3_IT_tio .url a:hover {
    text-decoration: none;
}
.ppn_sb_monsterboard3_IT_tio .adimage {
    border-width: 0;
    float: left;
    padding-right: 18px;
}
.ppn_sb_monsterboard3_IT_tio img.adimage {
    width: 160px;
    height: 89px;
}
.ppn_sb_monsterboard3_IT_tio .ppncaption {
    display: none;
}
.ppn_sb_monsterboard3_IT_tio .tnlogo{
    background: url('http://media.das.tamedia.ch/images/top_bar.gif') top repeat-x;
}
.ppn_sb_monsterboard3_IT_tio .tnlogo{
    position: absolute; top:0; left:0; width:100%;height: 10px;
}
.ppn_sb_monsterboard3_IT_tio .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: #333333;
    padding: 3px 5px;
    font: 9px/9px 'Bree Serif', serif;
    font-size: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}