
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.ppn_sb_leaderboard3_FR_20min {
    width: 728px;
    height: 90px;
    overflow: hidden;
    padding-top: 4px;
    position: relative;
}
.ppninnerbox {
}
.ppn_sb_leaderboard3_FR_20min .singlebox {
    border-bottom: 1px solid #999999;
    height: 90px;
    width: 239px;
    position: relative;
    margin-right: 5px;
    float: left;
    background: #F5F5F5;
}
.ppn_sb_leaderboard3_FR_20min .singlebox:nth-child(3) {
    margin-right: 0;
    float: right;
}
.ppn_sb_leaderboard3_FR_20min .title {
    cursor: pointer;
    padding: 18px 0 0 106px;
    width: 132px;
}
.ppn_sb_leaderboard3_FR_20min .title a:link, .ppn_sb_leaderboard3_FR_20min .title a:visited, .ppn_sb_leaderboard3_FR_20min .title a:active {
    color: black;
    font-size: 12px;
    line-height: 11px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_sb_leaderboard3_FR_20min .title a:hover {
    text-decoration: underline;
}
.ppn_sb_leaderboard3_FR_20min .text {
    height: 60px;
    overflow: hidden;
    padding: 5px 0 0 5px;
    text-decoration: none;
    width: 132px;
}
.ppn_sb_leaderboard3_FR_20min .text a:link, .ppn_sb_leaderboard3_FR_20min .text a:visited, .ppn_sb_leaderboard3_FR_20min .text a:hover, .ppn_sb_leaderboard3_FR_20min .text a:active {
    color: #4d4d4d;
    font-size: 8.5px;
    line-height: 11px;
    text-decoration: none;
}
.ppn_sb_leaderboard3_FR_20min .text a:hover {
    text-decoration: underline;
}
.ppn_sb_leaderboard3_FR_20min .url {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
    background: url('http://media.das.tamedia.ch/images/more.gif') left top no-repeat;
}
.ppn_sb_leaderboard3_FR_20min .url a:link, .ppn_sb_leaderboard3_FR_20min .url a:visited, .ppn_sb_leaderboard3_FR_20min .url a:hover, .ppn_sb_leaderboard3_FR_20min .url a:active {
    padding-left: 20px;
    color:#f5f5f5;
}
.ppn_sb_leaderboard3_FR_20min .url a:hover {
    text-decoration: none;
}
.ppn_sb_leaderboard3_FR_20min .adimage {
    border-width: 0;
    float: left;
    padding: 18px 0;
}
.ppn_sb_leaderboard3_FR_20min img.adimage {
    width: 100px;
    height: 57px;
}
.ppn_sb_leaderboard3_FR_20min .ppncaption {
    display: none;
}
.ppn_sb_leaderboard3_FR_20min .tnlogo{
    background: url('http://media.das.tamedia.ch/images/top_bar.gif') top repeat-x;
    position: absolute; top:0; left:0; width:100%;height: 10px;
}
.ppn_sb_leaderboard3_FR_20min .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: #333333;
    padding: 3px 5px;
    font: 400 10px/10px 'Roboto Condensed', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
}