body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff2d3;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 700px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 114px;
}

a {
    text-decoration: none;
}

.adimage {
    height: auto;
    width: 121px;
    display: block;
    position: fixed;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    padding: 2PX;
    z-index: 5;
    float: left;
    left: 10px;
}

div.singlebox {
    padding: 10px 185px 10px 155px;
}

.title {
    font-weight: bold;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
    font-family: "Helvetica Rounded LT Std", "Arial Rounded MT Bold", "Arial Rounded MT", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.title a {
    color: #007ab7
}

.title a:hover {
    text-decoration: underline;
}

.text {
    margin: 0;
    min-height: 58px;
    height: auto !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.3;
}

.text a {
    color: #666;
}

.price-tag {
    position: absolute;
    right: 0;
    top: 10px;
    font-weight: bold;
    color: #52b532;
}