
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700);
.ppn_sb_billboard4_FR_tdg {
    width: 640px;
    height: 350px;
    overflow: hidden;
    background: white;
    position: relative;
    border-top: 1px solid rgb(51,51,51);
    border-bottom: 1px solid rgb(51,51,51);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_billboard4_FR_tdg .ppninnerbox {
}
.ppn_sb_billboard4_FR_tdg .singlebox {
    width: 640px;
    height: 87px;
    position: relative;
    overflow: hidden;
    float: left;
}
.ppn_sb_billboard4_FR_tdg .title {
    cursor: pointer;
    color : rgb(51, 51, 51);
    font: 700 22px/22px 'Playfair', serif;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 7px;
}
.ppn_sb_billboard4_FR_tdg .title a:link, .ppn_sb_billboard4_FR_tdg .title a:visited, .ppn_sb_billboard4_FR_tdg .title a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_billboard4_FR_tdg .title a:hover {
    color: rgb(48, 126, 195);
    text-decoration: none;
}
.ppn_sb_billboard4_FR_tdg .text {
    cursor: pointer;
    width: 450px;
    overflow: hidden;
    color: rgb(51, 51, 51);
    font: normal 14px/17px Georgia, serif;
    text-align: left;
}
.ppn_sb_billboard4_FR_tdg .text a:link, .ppn_sb_billboard4_FR_tdg .text a:visited, .ppn_sb_billboard4_FR_tdg .text a:hover, .ppn_sb_billboard4_FR_tdg .text a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_billboard4_FR_tdg .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_billboard4_FR_tdg .url {
    cursor: pointer;
    display: inline;
    color: rgb(48, 126, 195);
    font: normal 14px/17px Georgia, serif;
    text-align: left;
}
.ppn_sb_billboard4_FR_tdg .url a, .ppn_sb_billboard4_FR_tdg .url a:link, .ppn_sb_billboard4_FR_tdg .url a:visited, .ppn_sb_billboard4_FR_tdg .url a:hover, .ppn_sb_billboard4_FR_tdg .url a:active {
    color: rgb(48, 126, 195);
    text-decoration: none;
}
.ppn_sb_billboard4_FR_tdg .url a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_billboard4_FR_tdg .adimage {
    border-width: 0;
    float: left;
}
.ppn_sb_billboard4_FR_tdg img.adimage {
    width: 130px;
    height: 73px;
    margin: 7px 15px 7px 0px;
}
.ppn_sb_billboard4_FR_tdg .ppncaption {
    display: none;
}
.ppn_sb_billboard4_FR_tdg .tnlogo {
    position: absolute; bottom:0; right:0; width:100%; height:15px;
}
.ppn_sb_billboard4_FR_tdg .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    padding: 3px 4px;
    font: normal 10px/10px Arial, sans-serif;
    color: white;
    text-decoration: none;
}