
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700italic,700);
.ppn_sb_halfpage2_DE_friday {
    width: 300px;
    height: 600px;
    overflow: hidden;
    background: white;
    color: black;
    text-align: left;
    position: relative;
    cursor: pointer;
    border: none;
    text-align: center;
}
.ppn_sb_halfpage2_DE_friday .ppninnerbox {
    width: 300px;
    height: 600px;
    border: none;
    overflow: hidden;
}
.ppn_sb_halfpage2_DE_friday .singlebox {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    float: left;
    border: none;
    border: 1px solid #F8F6EF;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.ppn_sb_halfpage2_DE_friday .title {
    margin: 185px 5px 10px 5px;
    max-height:22px;
    overflow: hidden;
    border: none;
    padding: 0px;
    font: 700 16px/22px 'Josefin Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.ppn_sb_halfpage2_DE_friday .title a:link,
.ppn_sb_halfpage2_DE_friday .title a:visited,
.ppn_sb_halfpage2_DE_friday .title a:active,
.ppn_sb_halfpage2_DE_friday .title a:hover{
    text-decoration: none;
    color: black;
}
.ppn_sb_halfpage2_DE_friday .text {
    margin: 0px 10px 0px 10px;
    max-height: 54px;
    overflow: hidden;
    font: normal 12px/18px Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    color: black;
}
.ppn_sb_halfpage2_DE_friday .text a:link, .ppn_sb_halfpage2_DE_friday .text a:visited, .ppn_sb_halfpage2_DE_friday .text a:hover, .ppn_sb_halfpage2_DE_friday .text a:active, .ppn_sb_halfpage2_DE_friday .text a:hover  {
    text-decoration: none;
    color: black;
}
.ppn_sb_halfpage2_DE_friday .text span.url, .ppn_sb_halfpage2_DE_friday .url a, .ppn_sb_halfpage2_DE_friday .url a:link, .ppn_sb_halfpage2_DE_friday .url a:visited, .ppn_sb_halfpage2_DE_friday .url a:hover, .ppn_sb_halfpage2_DE_friday .url a:active, .ppn_sb_halfpage2_DE_friday .url a:hover {
    margin-top: 5px;
    font: 700 12px/18px 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.ppn_sb_halfpage2_DE_friday .adimage {
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 0;
    width: 300px;
    height: 169px;
}
.ppn_sb_halfpage2_DE_friday .ppncaption {
    display: none;
}
.ppn_sb_halfpage2_DE_friday .tnlogo {
    position: absolute; top:0; left:0; max-width:100px; height:15px;
}
.ppn_sb_halfpage2_DE_friday .tnlogo > a{
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    padding: 4px;
    font: normal 10px/10px Arial, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
}