
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700);
.ppn_sb_mobilerectangle1_FR_tdg {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    cursor: pointer;
    border: 1px solid #f1f2f2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ppn_sb_mobilerectangle1_FR_tdg .ppninnerbox {
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.ppn_sb_mobilerectangle1_FR_tdg .singlebox {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float: left;
    border: none;
}
.ppn_sb_mobilerectangle1_FR_tdg .title {
    margin: 177px 10px 6px 10px;
    max-height: 22px;
    overflow: hidden;
    font: 700 19px/22px 'Playfair Display', serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_FR_tdg .title a:link, .ppn_sb_mobilerectangle1_FR_tdg .title a:visited, .ppn_sb_mobilerectangle1_FR_tdg .title a:active, .ppn_sb_mobilerectangle1_FR_tdg .title a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_tdg .text {
    margin: 0 10px;
    max-height: 32px;
    overflow: hidden;
    font: 400 12px/16px 'Open Sans', sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_FR_tdg .text a:link, .ppn_sb_mobilerectangle1_FR_tdg .text a:visited, .ppn_sb_mobilerectangle1_FR_tdg .text a:hover, .ppn_sb_mobilerectangle1_FR_tdg .text a:active, .ppn_sb_mobilerectangle1_FR_tdg .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_tdg .adimage {
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 168px;
}
.ppn_sb_mobilerectangle1_FR_tdg .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle1_FR_tdg .tnlogo {
    position: absolute; bottom:0; left:0; width:100%;height: 10px;
}
.ppn_sb_mobilerectangle1_FR_tdg .tnlogo > a{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 2px 4px;
    font: bold 10px/10px Arial, sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}