body{
    margin:0;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
.ppn_sb_mobilerectangle2_DE_tagesanzeiger {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    border-bottom: 1px solid #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .singlebox {
    width: 300px;
    height: 85px;
    position: relative;
    padding: 20px 0;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .title {
    cursor: pointer;
    font-weight: bold;
    color : rgb(0, 122, 191);
    font-family: 'Roboto Condensed', sans-serif;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .title a:link, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .title a:visited, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .title a:active {
    color : rgb(0, 122, 191);
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .title a:hover {
    text-decoration: underline;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .text {
    height: 50px;
    overflow: hidden;
    padding-top: 10px;
    text-decoration: none;
    width: 140px;
    font-family: Georgia, serif;
    line-height: 11px;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .text a:link, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .text a:visited, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .text a:hover, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .text a:active {
    color: rgb(51, 51, 51);
    font-size: 11px;
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .text a:hover {
    text-decoration: underline;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .text span.url {
    display: inline-block;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .url a, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .url a:link, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .url a:visited, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .url a:hover, .ppn_sb_mobilerectangle2_DE_tagesanzeiger .url a:active {
    color : rgb(0, 122, 191);
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .text span.url a:hover {
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .adimage {
    border-width: 0;
    float: left;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger img.adimage {
    width: 149px;
    height: 81px;
    padding-right:6px;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .tnlogo {
    position: absolute; bottom:0; right:0; max-width:100px; height:15px;
}
.ppn_sb_mobilerectangle2_DE_tagesanzeiger .tnlogo > a{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: #333;
    padding: 3px 4px;
    font: normal 10px/10px Georgia, serif;
    text-align: center;
    color: white;
    text-decoration: none;
}