
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
.ppn_sb_mobilerectangle1_FR_bilan {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: #fdfdfa;
    position: relative;
    cursor: pointer;
    border-top: 5px solid #d41317;
    border-bottom: 1px dotted #444444;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_mobilerectangle1_FR_bilan .ppninnerbox {
    width: 300px;
    height: 244px;
    overflow: hidden;
}
.ppn_sb_mobilerectangle1_FR_bilan .singlebox {
    width: 300px;
    height: 244px;
    overflow: hidden;
    position: relative;
    float: left;
    border: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .title {
    font: normal 20px/22px Georgia, serif;
    margin: 176px 0px 0px 0px;
    max-height: 22px;
    overflow: hidden;
    border: none;
    padding: 0px;
    text-align: left;
}
.ppn_sb_mobilerectangle1_FR_bilan .title a:link, .ppn_sb_mobilerectangle1_FR_bilan .title a:visited, .ppn_sb_mobilerectangle1_FR_bilan .title a:active {
    color: #444444;
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .title a:hover {
    color: #d41317;
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .text {
    cursor: pointer;
    color: #444444;
    font: normal 13px/17px Georgia, serif;
    text-align: left;
    max-height: 34px;
    overflow: hidden;
    padding-top: 5px;
}
.ppn_sb_mobilerectangle1_FR_bilan .text a:link, .ppn_sb_mobilerectangle1_FR_bilan .text a:visited, .ppn_sb_mobilerectangle1_FR_bilan .text a:hover, .ppn_sb_mobilerectangle1_FR_bilan .text a:active {
    color: #444444;
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .text a:hover {
    color: #d41317;
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .text span.url {
    cursor: pointer;
    display: inline;
    color: #d41317;
    font: 700 13px/17px 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.ppn_sb_mobilerectangle1_FR_bilan .url a, .ppn_sb_mobilerectangle1_FR_bilan .url a:link, .ppn_sb_mobilerectangle1_FR_bilan .url a:visited, .ppn_sb_mobilerectangle1_FR_bilan .url a:hover, .ppn_sb_mobilerectangle1_FR_bilan .url a:active {
    color: #d41317;
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .text span.url a:hover {
    color: #d41317;
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .singlebox > a{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 168px;
    background-color: #d41317;
    opacity: 1;
}
.ppn_sb_mobilerectangle1_FR_bilan img.adimage {
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 168px;
    background-color: #d41317;
    opacity: 1;
}
.ppn_sb_mobilerectangle1_FR_bilan img.adimage:hover {
    opacity: 0.85;
}
.ppn_sb_mobilerectangle1_FR_bilan .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle1_FR_bilan .tnlogo{
    position: absolute; top:0; left:0; width:100%; height:15px;
}
.ppn_sb_mobilerectangle1_FR_bilan .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 4px 4px 4px;
    background: #d41317;
    font: 700 9px/9px 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    border: none;
}