.ppn_sb_leaderboard3_FR_autoonline {
    width: 728px;
    height: 90px;
    overflow: hidden;
    background:  white;
    position: relative;
    border: 2px solid rgb(222, 222, 222);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.ppn_sb_leaderboard3_FR_autoonline .ppninnerbox {
}
.ppn_sb_leaderboard3_FR_autoonline .singlebox {
    width: 240px;
    height: 90px;
    position: relative;
    float: left;
    border-right: 2px solid rgb(222, 222, 222);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_leaderboard3_FR_autoonline .singlebox:last-child {
    border: none;
}
.ppn_sb_leaderboard3_FR_autoonline .title {
    cursor: pointer;
    width: 230px;
    height: 17px;
    overflow: hidden;
    color: rgb(242, 148, 0);
    font: bold 12px/14px Arial, sans-serif;
    text-align: left;
    padding: 5px 0px 0px 5px;
}
.ppn_sb_leaderboard3_FR_autoonline .title a:link, .ppn_sb_leaderboard3_FR_autoonline .title a:visited, .ppn_sb_leaderboard3_FR_autoonline .title a:active {
    color : rgb(242, 148, 0);
    text-decoration: none;
}
.ppn_sb_leaderboard3_FR_autoonline .title a:hover {
    color : rgb(242, 148, 0);
    text-decoration: underline;
}
.ppn_sb_leaderboard3_FR_autoonline .text {
    cursor: pointer;
    position: relative;
    width: 120px;
    margin-left: 115px;
    color: rgb(51, 51, 51);
    font: normal 10px/12px Arial, sans-serif;
    text-align: left;
    padding-bottom: 1px;
}
.ppn_sb_leaderboard3_FR_autoonline .text a:link, .ppn_sb_leaderboard3_FR_autoonline .text a:visited, .ppn_sb_leaderboard3_FR_autoonline .text a:hover, .ppn_sb_leaderboard3_FR_autoonline .text a:active {
    color : rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_leaderboard3_FR_autoonline .text a:hover {
    color : rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_leaderboard3_FR_autoonline .url {
    cursor: pointer;
    width: 100px;
    margin-left: 115px;
    color: rgb(242, 148, 0);
    font: normal 10px/12px Arial, sans-serif;
    text-align: left;
}
.ppn_sb_leaderboard3_FR_autoonline .url a, .ppn_sb_leaderboard3_FR_autoonline .url a:link, .ppn_sb_leaderboard3_FR_autoonline .url a:visited, .ppn_sb_leaderboard3_FR_autoonline .url a:hover, .ppn_sb_leaderboard3_FR_autoonline .url a:active {
    color : rgb(242, 148, 0);
    text-decoration: none;
}
.ppn_sb_leaderboard3_FR_autoonline .url a:hover {
    color : rgb(242, 148, 0);
    text-decoration: underline;
}
.ppn_sb_leaderboard3_FR_autoonline .adimage {
    border-width: 0;
    position: absolute;
    left: 5px;
    bottom: 8px;
}
.ppn_sb_leaderboard3_FR_autoonline img.adimage {
    width: 104px;
    height: 59px;
}
.ppn_sb_leaderboard3_FR_autoonline .ppncaption {
    display: none;
}
.ppn_sb_leaderboard3_FR_autoonline .tnlogo{
    border-top: 2px solid rgb(222, 222, 222);
    border-left: 2px solid rgb(222, 222, 222);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    padding: 2px;
    position: absolute; bottom:0; right:0; max-width:100px; height:15px;
}
.ppn_sb_leaderboard3_FR_autoonline .tnlogo > a{
    font: bold 9px/9px Arial, sans-serif;
    text-align: right;
    text-decoration: none;
    color: rgb(222, 222, 222);
}