@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

.ppn_sb_skyscraper3_IT_immostreet {
    width: 160px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background: rgb(241, 241, 241);
    font-family: 'Open Sans', sans-serif;
}
.ppn_sb_skyscraper3_IT_immostreet .ppninnerbox {
}
.ppn_sb_skyscraper3_IT_immostreet .singlebox {
    width: 160px;
    height: 200px;
    position: relative;
    float: left;
}
.ppn_sb_skyscraper3_IT_immostreet .title {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: white;
    width: 142px;
    height: 20px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 12px;
    font: 300 12px/13px 'Open Sans', sans-serif;
    text-align: left;
    color: rgb(228, 62, 51);
}
.ppn_sb_skyscraper3_IT_immostreet .title a:link, .ppn_sb_skyscraper3_IT_immostreet .title a:visited, .ppn_sb_skyscraper3_IT_immostreet .title a:active {
    color: rgb(228, 62, 51);
    text-decoration: none;
}
.ppn_sb_skyscraper3_IT_immostreet .title a:hover {
    color: rgb(228, 62, 51);
    text-decoration: underline;
}
.ppn_sb_skyscraper3_IT_immostreet .text {
    cursor: pointer;
    position: relative;
    width: 140px;
    overflow: hidden;
    font: 400 11px/14px 'Open Sans', sans-serif;
    text-align: left;
    color: rgb(42, 42, 42);
    padding: 5px 5px 5px 5px;
}
.ppn_sb_skyscraper3_IT_immostreet .text a:link, .ppn_sb_skyscraper3_IT_immostreet .text a:visited, .ppn_sb_skyscraper3_IT_immostreet .text a:hover, .ppn_sb_skyscraper3_IT_immostreet .text a:active {
    color : rgb(42, 42, 42);
    text-decoration: none;
}
.ppn_sb_skyscraper3_IT_immostreet .text a:hover {
    color : rgb(42, 42, 42);
    text-decoration: none;
}
.ppn_sb_skyscraper3_IT_immostreet .url {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 40px;
    right: 0px;
    top: 90px;
    background: url("http://media.das.tamedia.ch/images/ppnimmostreet-arrow-long.gif")left center no-repeat;
}
.ppn_sb_skyscraper3_IT_immostreet .url a, .ppn_sb_skyscraper3_IT_immostreet .url a:link, .ppn_sb_skyscraper3_IT_immostreet .url a:visited, .ppn_sb_skyscraper3_IT_immostreet .url a:hover, .ppn_sb_skyscraper3_IT_immostreet .url a:active {

}
.ppn_sb_skyscraper3_IT_immostreet .url a:hover {

}
.ppn_sb_skyscraper3_IT_immostreet .adimage {
    border-width: 0;
    position:relative;
    float: left;
}
.ppn_sb_skyscraper3_IT_immostreet img.adimage {
    width: 160px;
    height: 90px;
}
.ppn_sb_skyscraper3_IT_immostreet .ppncaption {
    display: none;
}
.ppn_sb_skyscraper3_IT_immostreet .tnlogo > a{
	border: none;
	border-top: 1px solid white;
	border-left: 1px solid white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(241, 241, 241);
	padding: 1px 4px 3px 4px;
	font: 700 9px/9px 'Open Sans', sans-serif;
	text-align: center;
	color: rgb(42, 42, 42);
	text-decoration: none;
}
.ppn_sb_skyscraper3_IT_immostreet .tnlogo{
    position: absolute; bottom:0; right:0; max-width:100px; height:13px;
}