@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
.ppn_sb_mobilerectangle1_DE_20min {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: 1px solid #f1f2f2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ppn_sb_mobilerectangle1_DE_20min .ppninnerbox {
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.ppn_sb_mobilerectangle1_DE_20min .singlebox {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float: left;
    border: none;
}
.ppn_sb_mobilerectangle1_DE_20min .title {
    margin: 178px 10px 5px 10px;
    max-height: 22px;
    overflow: hidden;
    font: 900 19px/22px 'Roboto', sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_DE_20min .title a:link, .ppn_sb_mobilerectangle1_DE_20min .title a:visited, .ppn_sb_mobilerectangle1_DE_20min .title a:active, .ppn_sb_mobilerectangle1_DE_20min .title a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_DE_20min .text {
    margin: 0 10px;
    max-height: 32px;
    overflow: hidden;
    font: 400 12px/16px 'Roboto', sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilerectangle1_DE_20min .text a:link, .ppn_sb_mobilerectangle1_DE_20min .text a:visited, .ppn_sb_mobilerectangle1_DE_20min .text a:hover, .ppn_sb_mobilerectangle1_DE_20min .text a:active, .ppn_sb_mobilerectangle1_DE_20min .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_mobilerectangle1_DE_20min .adimage {
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 168px;
}
.ppn_sb_mobilerectangle1_DE_20min .ppncaption {
    display: none;
}


.ppn_sb_mobilerectangle1_DE_20min .tnlogo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.ppn_sb_mobilerectangle1_DE_20min .tnlogo > a{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 3px 5px;
    font: 400 10px/10px 'Roboto Condensed', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}
