
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans);
.ppn_sb_rectangle1_DE_derbund {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: white;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    border-top: 2px solid rgb(51, 51, 51);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_rectangle1_DE_derbund .ppninnerbox {
    height: 235px;
    margin-top: 15px;
    position: relative;
}
.ppn_sb_rectangle1_DE_derbund .singlebox {
    width: 300px;
    height: 235px;
    position: relative;
}
.ppn_sb_rectangle1_DE_derbund .title {
    cursor: pointer;
    color: rgb(0, 133, 171);
    font: 700 19px/20px 'Source Sans Pro', sans-serif;
    text-align: left;
    position: relative;
}
.ppn_sb_rectangle1_DE_derbund .title a:link, .ppn_sb_rectangle1_DE_derbund .title a:visited, .ppn_sb_rectangle1_DE_derbund .title a:active {
    color: rgb(0, 133, 171);
    text-decoration: none;
}
.ppn_sb_rectangle1_DE_derbund .title a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_rectangle1_DE_derbund .text {
    cursor: pointer;
    color: rgb(51, 51, 51);
    font: 400 14px/16px 'Source Sans Pro', sans-serif;
    text-align: left;
    padding-top: 5px;
}
.ppn_sb_rectangle1_DE_derbund .text a:link, .ppn_sb_rectangle1_DE_derbund .text a:visited, .ppn_sb_rectangle1_DE_derbund .text a:hover, .ppn_sb_rectangle1_DE_derbund .text a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_rectangle1_DE_derbund .text a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_rectangle1_DE_derbund .text span.url {
    cursor: pointer;
    display: inline;
    color: rgb(0, 133, 171);
    font: 400 14px/16px 'Source Sans Pro', sans-serif;
    text-align: left;
}
.ppn_sb_rectangle1_DE_derbund .url a, .ppn_sb_rectangle1_DE_derbund .url a:link, .ppn_sb_rectangle1_DE_derbund .url a:visited, .ppn_sb_rectangle1_DE_derbund .url a:hover, .ppn_sb_rectangle1_DE_derbund .url a:active {
    color: rgb(0, 133, 171);
    text-decoration: none;
}
.ppn_sb_rectangle1_DE_derbund .text span.url a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_sb_rectangle1_DE_derbund .adimage {
    border-width: 0px;
    float: left;
}
.ppn_sb_rectangle1_DE_derbund img.adimage {
    width: 300px;
    height: 165px;
    margin-bottom: 5px;
}
.ppn_sb_rectangle1_DE_derbund .ppncaption {
    display: none;
}
.ppn_sb_rectangle1_DE_derbund .tnlogo {
 position: absolute; top:0; left:0; width:100%;height: 10px;
}
.ppn_sb_rectangle1_DE_derbund .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(51,51,51);
    padding: 1px 5px 3px 5px;
    font: 400 10px/10px 'Source Sans Pro', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
}