
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

*{
    padding: 0;
    margin: 0;
}

.ppn_sb_mobilerectangle2_IT_tio {
    height: 250px;
    width: 300px;
    overflow: hidden;
    position: relative;
    background: #F5F5F5;
    text-align: left;
    margin: 0 auto;
}
.ppn_sb_mobilerectangle2_IT_tio .ppninnerbox {
}
.ppn_sb_mobilerectangle2_IT_tio .singlebox {
    height: 125px;
    width: 300px;
    position: relative;
    overflow: hidden;
    float: left;
    border-bottom: 1px solid #999999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_mobilerectangle2_IT_tio .title {
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    width: 160px;
    margin-left: 130px;
    margin-top: 17px;
}
.ppn_sb_mobilerectangle2_IT_tio .title a:link, .ppn_sb_mobilerectangle2_IT_tio .title a:visited, .ppn_sb_mobilerectangle2_IT_tio .title a:active {
    color: black;
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_IT_tio .title a:hover {
    text-decoration: underline;
}
.ppn_sb_mobilerectangle2_IT_tio .text {
    font-family: Georgia, serif;
    text-decoration: none;
    width: 160px;
    margin-left: 130px;
    padding-top: 5px;
}
.ppn_sb_mobilerectangle2_IT_tio .text a:link, .ppn_sb_mobilerectangle2_IT_tio .text a:visited, .ppn_sb_mobilerectangle2_IT_tio .text a:hover, .ppn_sb_mobilerectangle2_IT_tio .text a:active {
    color: #4d4d4d;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_IT_tio .text a:hover {
    text-decoration: underline;
}
.ppn_sb_mobilerectangle2_IT_tio .url {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
    background: url('https://d1rkf0bq85yx06.cloudfront.net/images/more.gif') left top no-repeat;
}
.ppn_sb_mobilerectangle2_IT_tio .url a, .ppn_sb_mobilerectangle2_IT_tio .url a:link, .ppn_sb_mobilerectangle2_IT_tio .url a:visited, .ppn_sb_mobilerectangle2_IT_tio .url a:hover, .ppn_sb_mobilerectangle2_IT_tio .url a:active {
    padding-left: 20px;
    color:#f5f5f5;
}
.ppn_sb_mobilerectangle2_IT_tio .url a:hover {
    text-decoration: none;
}
.ppn_sb_mobilerectangle2_IT_tio .adimage {
    border-width: 0;
    float: left;
}
.ppn_sb_mobilerectangle2_IT_tio img.adimage {
    width: 120px;
    height: 70px;
    margin-top: 20px;
}
.ppn_sb_mobilerectangle2_IT_tio .ppncaption {
    display: none;
}
.ppn_sb_mobilerectangle2_IT_tio .tnlogo{
    background: url('https://d1rkf0bq85yx06.cloudfront.net/images/more.gif') top repeat-x;
    position: absolute; top:0; left:0; width:100%;height: 10px;
}
.ppn_sb_mobilerectangle2_IT_tio .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: #333333;
    padding: 3px 5px 3px 5px;
    font: 9px/9px 'Bree Serif', serif;
    text-align: center;
    color: white;
    text-decoration: none;
}