@import url(https://fonts.googleapis.com/css?family=Nunito);

.ppn_sb_mobilerectangle1_IT_tutti {
  width: 300px;
  height: 250px;
  overflow: hidden;
  background: white;
  position: relative;
  border: 1px solid #DDD9CE;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ppn_sb_mobilerectangle1_IT_tutti .ppninnerbox {
	width: 300px;
  height: 250px;
  position: relative;
  float: left;
}
.ppn_sb_mobilerectangle1_IT_tutti .singlebox {
  width: 300px;
  height: 250px;
  position: relative;
  float: left;
}
.ppn_sb_mobilerectangle1_IT_tutti .title {
  cursor: pointer;
  font: 400 19px/19px 'Nunito', sans-serif;
  color: #007AB7;
  margin: 178px 10px 10px 10px;
  max-height: 20px;
  overflow: hidden;
  text-align: left;
  border: none;
  border-style: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .title a:link, .ppn_sb_mobilerectangle1_IT_tutti .title a:visited, .ppn_sb_mobilerectangle1_IT_tutti .title a:active {
  color: #007AB7;
  text-decoration: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .title a:hover {
  color: #33ADEA;
  text-decoration: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .text {
  cursor: pointer;
	font: normal 12px/15px Helvetica, sans-serif;
  color: #666666;
  margin: 10px 40px 10px 10px;
  max-height: 30px;
  overflow: hidden;
  text-align: left;
  border: none;
  border-style: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .text a:link, .ppn_sb_mobilerectangle1_IT_tutti .text a:visited, .ppn_sb_mobilerectangle1_IT_tutti .text a:hover, .ppn_sb_mobilerectangle1_IT_tutti .text a:active {
  color: #666666;
  text-decoration: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .text a:hover {
	color: #007AB7;
  text-decoration: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .url a, .ppn_sb_mobilerectangle1_IT_tutti .url a:link, .ppn_sb_mobilerectangle1_IT_tutti .url a:visited, .ppn_sb_mobilerectangle1_IT_tutti .url a:hover, .ppn_sb_mobilerectangle1_IT_tutti .url a:active {
  cursor: pointer;
  position: absolute;
  font-size: 0;
  bottom: 15px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: url("images/ppntutti-Lmehr.png")left center no-repeat;
  border: none;
  border-style: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .url a:hover {
	cursor: pointer;
  position: absolute;
  font-size: 0;
  bottom: 15px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: url("images/ppntutti-Lmehr-h.png")left center no-repeat;
  border: none;
  border-style: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .adimage {
	border-width: 0;
  float: left;
  width: 300px;
  height: 168px;
  border: none;
  border-style: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .ppncaption {
  display: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .tnlogo > a{
	position: absolute;
	right: 0;
	top: 0;
	background: #33ADEA;
	border-radius: 10px 0 0 10px;
	padding: 5px 4px 5px 6px;
  font: 400 10px/10px 'Nunito', sans-serif;
	text-align: center;
	color: white;
	text-decoration: none;
}
.ppn_sb_mobilerectangle1_IT_tutti .tnlogo{
    position: absolute; top:10px; right:0; width:100%;height: 15px;
}