
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
.ppn_minirectangle1_FR_lematin {
    width: 260px;
    height: 120px;
    overflow: hidden;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgb(51,51,51);
    border-top: 1px solid rgb(51,51,51);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.ppn_minirectangle1_FR_lematin .ppninnerbox {
    width: 258px;
    height: 118px;
    overflow: hidden;
}
.ppn_minirectangle1_FR_lematin .singlebox {
    width: 258px;
    height: 118px;
    overflow: hidden;
    position: relative;
}
.ppn_minirectangle1_FR_lematin .title {
    cursor: pointer;
    color: rgb(51, 51, 51);
    font: 800 16px/19px 'Open Sans', sans-serif;
    text-align: left;
    margin: 7px 1px 5px 1px;
    width: 256px;
    height: 20px;
    overflow: hidden;
}
.ppn_minirectangle1_FR_lematin .title a:link, .ppn_minirectangle1_FR_lematin .title a:visited, .ppn_minirectangle1_FR_lematin .title a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_minirectangle1_FR_lematin .title a:hover {
    color: rgb(230, 90, 49);
    text-decoration: none;
}
.ppn_minirectangle1_FR_lematin .text {
    cursor: pointer;
    font: 400 10px/13px 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 149px;
    width: 108px;
    max-height: 66px;
    overflow: hidden;
}
.ppn_minirectangle1_FR_lematin .text a:link, .ppn_minirectangle1_FR_lematin .text a:visited, .ppn_minirectangle1_FR_lematin .text a:hover, .ppn_minirectangle1_FR_lematin .text a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.ppn_minirectangle1_FR_lematin .text a:hover {
    color: rgb(230, 90, 49);
    text-decoration: none;
}
.ppn_minirectangle1_FR_lematin .url {
    cursor: pointer;
    background: url("https://s3-eu-west-1.amazonaws.com/media.das.tamedia.ch/assets/bilan/img/ppnlematin-mehr.gif")left center no-repeat;
    background-position: left center;
    background-size: 10px;
    font: 700 11px/11px 'Open Sans', sans-serif;
    text-align: left;
    text-transform: uppercase;
    padding-left: 15px;
    margin-left: 149px;
    margin-top: 3px;
}
.ppn_minirectangle1_FR_lematin .url a, .ppn_minirectangle1_FR_lematin .url a:link, .ppn_minirectangle1_FR_lematin .url a:visited, .ppn_minirectangle1_FR_lematin .url a:hover, .ppn_minirectangle1_FR_lematin .url a:active {
    color: rgb(230, 90, 49);
    text-decoration: none;
}
.ppn_minirectangle1_FR_lematin .url a:hover {
    text-decoration: none;
}
.ppn_minirectangle1_FR_lematin .adimage {
    border-width: 0;
    width: 140px;
    height: 79px;
    position: absolute;
    bottom:6px;
    left: 0
}
.ppn_minirectangle1_FR_lematin .ppncaption {
    display: none;
}
.ppn_minirectangle1_FR_lematin .tnlogo{
    position: absolute; bottom:2px; right:0; max-width:100px; height:15px;
}
.ppn_minirectangle1_FR_lematin .tnlogo > a{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(230, 90, 49);
    padding: 3px 3px 2px 3px;
    font: 700 8px/8px 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
}