@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
html, body {
margin: 0;
padding: 0;
}
.surroundingbox {
overflow: hidden;
height:100%;
margin-bottom:10px;
margin-top:10px;
width:100%;
position: relative;
}
.innerbox {
}
.title {
float: left;
cursor:pointer;
color : rgb(0, 122, 191);
font-size: 14px;
width:48%;
margin-left: 5px;
font-family: 'Roboto Condensed', sans-serif;
}
.title a:link, .title a:visited, .title a:active {
font-weight: bold;
color: black;
text-decoration: none;
}
.title a:hover {
text-decoration: underline;
}
.text{
padding-top: 2px;
float: left;
font-size: 11px;
width:48%;
margin-left: 5px;
font-weight: lighter;
display: inline-block;
}
.text a:link, .text a:visited, .text a:active{
text-decoration: none;
color:black;
}
img.adimage{
width: 50%;
float: left;
}
.caption {
z-index: 5;
position: absolute;
text-align: center;
right:50%;
bottom:0;
width:45px;
font-size: 10px;
background: dodgerblue;
color:white;
}
.trackingpixel{
display:none;
}