@font-face {
font-family: "Publico Headline";
src: url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Medium-Web.eot");
src: url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Medium-Web.eot?#iefix") format("embedded-opentype"),
url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Medium-Web.woff") format("woff"),
url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Medium-Web.ttf") format("truetype"),
url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Medium-Web.svg") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Publico Headline";
src: url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Bold-Web.eot");
src: url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Bold-Web.eot?#iefix") format("embedded-opentype"),
url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Bold-Web.woff") format("woff"),
url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Bold-Web.ttf") format("truetype"),
url("https://www.tagesanzeiger.ch/css/fonts/publico/PublicoHeadline-Bold-Web.svg") format("svg");
font-weight: bold;
font-style: normal;
}
/* latin-ext */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html, body {
margin: 0;
padding: 0;
}
.surroundingbox {
overflow: hidden;
width:100%;
position: relative;
}
.innerbox {
}
.title {
float: left;
cursor:pointer;
color : rgb(0, 122, 191);
font: 700 20px/25px 'Montserrat';
font-weight:bold;
letter-spacing: -.03rem;
margin: 0 0 .2rem;
margin-bottom: 5px;
}
.title a:link, .title a:visited, .title a:active {
font-weight: normal;
color: black;
text-decoration: none;
}
.title a:hover {
text-decoration: underline;
}
.text{
float: left;
font-weight: lighter;
width: 50%;
display: block;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-size: 15px;
line-height: 20px;
margin-bottom: 0px;
}
.text a:link, .text a:visited, .text a:active{
text-decoration: none;
color:rgb(51, 51, 51);
}
img.adimage{
width: 45%;
display: inline-block;
float: left;
margin: 0 0.65rem 0.75rem 0;
margin-bottom: 12px;
}
.caption {
    z-index: 5;
    position: absolute;
    text-align: center;
    right: 55%;
    width: 45px;
    font-size: 10px;
    background: dodgerblue;
    color: white;
}

.trackingpixel{
display:none;
}