
.ppn_sb_mobilehalfpage3_DE_bernerzeitung {
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-family: Georgia, serif;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .ppninnerbox {
    height: 580px;
    width: 300px;
    margin: 10px 0;
    background: white;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .singlebox {
    width: 300px;
    height: 193px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .singlebox:last-child {
    border-bottom: 1px solid #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .title {
    position: relative;
    width: 280px;
    max-height: 22px;
    overflow: hidden;
    margin: 0px 10px;
    color: #333;
    font: bold 17px/20px Georgia, sans-serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .title a:link, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .title a:visited, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .title a:active, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .title a:hover {
    color: #333;
    text-decoration: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .title a:hover {
    color: #80000c;
    text-decoration: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .text {
    position: relative;
    width: 280px;
    max-height: 38px;
    overflow: hidden;
    margin: 5px 10px 10px 10px;
    font: normal 13px/18px Georgia, serif;
    text-align: left;
    border: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .text a:link, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .text a:visited, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .text a:hover, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .text a:active {
    color: #333;
    text-decoration: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .text a:hover {
    color: #333;
    text-decoration: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .url {
    display: inline-block;
    font: normal 13px/18px Georgia, serif;
    text-align: left;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .url a, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .url a:link, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .url a:visited, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .url a:hover, .ppn_sb_mobilehalfpage3_DE_bernerzeitung .url a:active {
    color: #80000c;
    text-decoration: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .url a:hover {
    color: #80000c;
    text-decoration: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .adimage {
    position: relative;
    float: left;
    border-width: 0;
    width: 180px;
    height: 101px;
    margin: 12px 10px 10px 10px;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .ppncaption {
    display: none;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .tnlogo {
    position: absolute; top:10px; left:0; width:100%; height:10px;
}
.ppn_sb_mobilehalfpage3_DE_bernerzeitung .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    padding: 4px 5px;
    font: bold 9px/9px Arial, sans-serif;
    color: white;
    text-decoration: none;
}