
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
.ppn_sb_rectangle1_IT_tio {
    height: 250px;
    width: 300px;
    overflow: hidden;
    position: relative;
    background: #F5F5F5;
    text-align: left;
}
.ppn_sb_rectangle1_IT_tio .ppninnerbox {
}
.ppn_sb_rectangle1_IT_tio .singlebox {
    position: relative;
}
.ppn_sb_rectangle1_IT_tio .title {
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    padding-left: 10px;
}
.ppn_sb_rectangle1_IT_tio .title a:link, .ppn_sb_rectangle1_IT_tio .title a:visited, .ppn_sb_rectangle1_IT_tio .title a:active {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.ppn_sb_rectangle1_IT_tio .title a:hover {
    text-decoration: underline;
}
.ppn_sb_rectangle1_IT_tio .text {
    width: 280px;
    height: 40px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Georgia, serif;
    text-decoration: none;
}
.ppn_sb_rectangle1_IT_tio .text a:link, .ppn_sb_rectangle1_IT_tio .text a:visited, .ppn_sb_rectangle1_IT_tio .text a:hover, .ppn_sb_rectangle1_IT_tio .text a:active {
    color: #4d4d4d;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}
.ppn_sb_rectangle1_IT_tio .text a:hover {
    text-decoration: underline;
}
.ppn_sb_rectangle1_IT_tio .url {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
    background: url('http://media.das.tamedia.ch/images/more.gif') left top no-repeat;
}
.ppn_sb_rectangle1_IT_tio .url a, .ppn_sb_rectangle1_IT_tio .url a:link, .ppn_sb_rectangle1_IT_tio .url a:visited, .ppn_sb_rectangle1_IT_tio .url a:hover, .ppn_sb_rectangle1_IT_tio .url a:active {
    padding-left: 20px;
    color:#f5f5f5;
}
.ppn_sb_rectangle1_IT_tio .url a:hover {
    text-decoration: none;
}
.ppn_sb_rectangle1_IT_tio .adimage {
    border-width: 0;
    float: left;
    margin-right: 18px;
    margin-bottom: 5px;
}
.ppn_sb_rectangle1_IT_tio img.adimage {
    width: 300px;
    height: 169px;
}
.ppn_sb_rectangle1_IT_tio .ppncaption {
    display: none;
}
.ppn_sb_rectangle1_IT_tio .tnlogo{
    background: url('http://media.das.tamedia.ch/images/top_bar.gif') top repeat-x;
    position: absolute; top:0; left:0; width:100%;height: 10px;
}
.ppn_sb_rectangle1_IT_tio .tnlogo > a{
    position: absolute;
    right: 0;
    top: 0;
    background: #333333;
    padding: 3px 5px 3px 5px;
    font: 9px/9px 'Bree Serif', serif;
    text-align: center;
    color: white;
    text-decoration: none;
}